# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
db.sqlite3

# Node
node_modules/
.next/
out/
.env.local

# Docker
*.log
.env

# IDE
.vscode/
.idea/

# Media/Exports/Logs
backend/media/
backend/staticfiles/
backend/logs/

# OS
.DS_Store
Thumbs.db
